
@font-face{
  font-family:"Outfit";
  src: 
  url("./recipe-page-main/assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype")
}
@font-face{
  font-family:"Young-serif";
  src:url("./recipe-page-main/assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

*{
  box-sizing: border-box;
}

/* Basic things */
body{
 padding: 0;
 margin: 0;
 font-family: "Outfit", sans-serif;
}

.layout{
  padding: 0 0 20px 0;
}

img{
  max-width:100%;
}

h1{
  font-size: clamp(40px, 5vw, 60px);
}

h1, h2{
  color:hsl(14, 45%, 36%);
  font-family: "Young-serif", sans-serif;
  font-weight: 400;
}
h2{
  font-size: 1.75rem;
}

li{
  margin-bottom: 1em;
}

.container{
  width: 90%;
  margin: 0 auto;
}

/* design */

.preparation__list{
  background-color:#fff7fc;
  padding: 1em 0;
}

.preparation__list h2{
  color: hsl(332, 51%, 32%);
  font-family: "Outfit";
  padding-left: 0.5em;
  font-weight: bold;
}

.ingredients{
  margin-top: 20px;
}



.instructions{
  border-top: 1px solid hsl(30, 10%, 34%);
}

.instructions__list{
  padding: 20px;
  color: hsl(30, 10%, 34%);
}

ol li::marker{
  color:hsl(332, 51%, 32%);
  font-weight: bold;
  font-size: 1.2rem;
}

.instructions__list li{
  padding-left: 20px;
}

.nutrition{
  border-top: 1px solid hsl(30, 10%, 34%);
}


table{
  width: 100%;
  border-collapse:collapse   
}

th, td{
  color: grey;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}
.last__child{
  border: none;
}


@media (min-width: 1000px){
  body{    
    background-color:rgba(150, 75, 0, 0.1);
    padding: 5em 0;
  }

  .layout{
    max-width: 50%;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px 0;
  }

  .img__container{
    width: 90%;
    margin: 0 auto;
  }

  .omelette{
    border-radius: 10px;
    width: 100%;

  }


}